html{background-color:black;color:navy;}
#container{
  margin:auto;
  padding:auto;
  width:760px;
  background-color:#d4e9e5;}
#slideshow{
  margin:auto;
  margin-bottom:0px;
  height:60px;width:760px;}
#main{
  background:url('stripes.png');
  border:solid 1px white;}
.navlink{
  margin:2px 0px 2px 0px;
  line-height:30px;
  color:white;
  text-decoration:none;
  text-align:center;
  display:block;
  width:150px;height:30px;
  background:url('up_off.png');}
.navlink:hover{background:url('up_on.png');}
.navlink:active{background:url('down_on.png');}
.navli{
  padding:0px;margin:0px 1px 0px 1px;
  float:left;
  clear:top;
  width:150px;
  background:url('up_off.png');}
.navli:hover{
  background:url('up_off.png');}
#navul{
  list-style-type:none;
  text-indent:none;
  padding:0px;margin:0px;}
#header{
  width:760px;height:35px;
  float:top;
  background:url('up_off.png');}
.smalllink{
  font-size:75%;}
